body {
	font-family: "Open Sans", sans-serif;
}
.navbar {
	background-color: #092c52;
}
.navbar .navbar-brand {
	font-family: "Raleway", sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #ffe600;
}
.navbar .navbar-brand:hover {
	color: #ffe600;
}
.carousel-item img {
	margin: 0 auto;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23092c52' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23092c52' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.products img {
	width: 100%;
}
.jumbotron {
	padding: 35px 35px;
}
.sub-judul h3 {
	color: #092c52;
	font-family: "Raleway", sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	max-width: 600px;
	position: relative;
}
.sub-judul h3::before {
	content: "";
	display: block;
	width: 90px;
	height: 2px;
	background-color: #092c52;
	position: absolute;
	left: 0;
	top: 50%;
}
.sub-judul h3::after {
	content: "";
	display: block;
	width: 90px;
	height: 2px;
	background-color: #092c52;
	position: absolute;
	right: 0;
	top: 50%;
}
.sub-judul h4 {
	color: #092c52;
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	font-weight: bold;
}
footer {
	background-color: #092c52;
	color: #fff;
}
footer a {
	color: #ffe600;
}

footer a:hover {
	color: #d6c100;
}

@media (min-width: 992px) {
	.navbar {
		height: 85px;
	}
}
